/****** general ******/
*,
*:after,
*:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

/* Parallax bits */
body, html, main {
        height: 100%; /* Enables fitting to viewport height */
}
.parallax {
        height: 100%;
        background-attachment: scroll; /* No parallax on mobile */
        background-position: center;
        background-size: cover;
}
/**/
body {
        font-size: 1.4em;
        color: #649f94;
        font-family: 'Indie Flower', cursive;
        line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
        font-family: 'Rock Salt', cursive;
        line-height: 1.6em;
}
h1, h2 {
        color: #00342a;
        font-size: 1.5em;
}
h3 {
        font-size: 0.9em;
}
h4 {
        font-size: 0.8em;
}
.subheading {
        margin-top: -1em;
}
section {
        min-height: 100%;
        width: 80%;
        margin: auto;
        padding-bottom: 1em;
        z-index: -1;
}
a {
        color: #245db1;
        text-decoration: none;
        font-size: 1.2em;
        transition: color 0.1s ease;
}
a:hover {
        color: #60b1cf;
}
.ref {
        font-family: serif;
        font-size: 0.5em;
        vertical-align: super;
        z-index: 1;
}
.quote {
        color: #f9c19c;
        font-style: italic;
}
.tooltip {
        position: relative;
        display: inline-block;
        font-size: 1.2em;
        color: #ffac1f;
        border-bottom: 2px dotted;
}
.tooltip-text {
        visibility: hidden;
        width: 150px;
        margin-left: -75px;
        top: 100%;
        left: 50%;
        background-color: #fff;
        border: 2px solid #ffac1f;
        border-radius: 6px;
        color: #ffac1f;
        padding: 10px;
        font-family: serif;
        font-size: 0.5em;
        line-height: 1.2em;
        position: absolute;
        z-index: 1;
}
.tooltip-text::after {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 50%;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #ffac1f transparent;
}
.touchscreen {
        cursor: pointer;
}
.tooltip:hover .tooltip-text, .tooltip-show {
        visibility: visible;
}

@media all and (min-width: 500px) {
        h1, h2 {
                font-size: 2em;
        }
        h3 {
                font-size: 0.9em;
        }
        .tooltip-text {
                width: 200px;
                margin-left: -100px;
        }
}
@media all and (min-width: 800px) {
        body {
                font-size: 1.6em;
        }
        h1, h2 {
                font-size: 2.5em;
        }
        h3 {
                font-size: 1em;
        }
        .tooltip-text {
                width: 240px;
                margin-left: -120px;
        }
        .parallax {
                background-attachment: fixed;
        }
}


/****** navigation ******/
header {
        width: 100%;
        position: fixed;
        z-index: 1;
}
.navbar {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        padding: 0;
        margin: 0;
        list-style-type: none;
        overflow: hidden;
        transition: right 0.5s ease;
        position: fixed;
        top: 0;
        right: 0;
        margin-right: 10%;
        line-height: 0.6em;
}
.hidden {
        right: -80%;
}
.navbar a {
        text-decoration: none;
        color: #415b59;
        display: inline-block;
        padding: 7.5px;
        margin: 5px;
        background-color: #fff;
        font-family: serif;
        font-size: 15px;
        transition: background-color 0.2s ease;
}
.navbar a:hover {
        background-color: #faeda2;
}
/* Burger menu bits */
.burger {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 0;
        padding: 6px;
        margin: 5px;
        height: 36.5px;
        z-index: 1;
}
.bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        border-radius: 2px;
        margin: 6px auto;
        transition: 0.4s;
}
.bar1 {
        margin-top: 0;
}
.close-icon .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
}
.close-icon .bar2 {
        opacity: 0;
}
.close-icon .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
}
/**/
@media all and (min-width: 800px) {
        nav {
                width: 80%;
                margin: auto;
        }
        .navbar {
                flex-flow: row nowrap;
                justify-content: flex-end;
        }
        .navbar li {
                flex: 0 1 auto;
                margin: 0;
        }

}

/****** title ******/
.title {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        background-image: url('../../img/barley.jpg');
}
.title h1 {
        margin: auto;
        width: 80%;
}

/****** intro ******/
.icon-graphic {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        overflow: hidden;
}
.graphic-intro {
        justify-content: center;
        font-size: 10em;
}
.icon-science {
        position: relative;
        left: -100%;
}
.icon-heart {
        position: relative;
        right: -100%;
}

/****** growth ******/
.growth-image {
        background-image: url('../../img/dandelion.jpg');
}
.timeline {
        position: relative;
}
.timeline h3 {
        position: absolute;
        z-index: 1;
}
.timeline-buttons {
        text-align: center;
        font-size: 2em;
        position: absolute;
        right: 50%;
        margin-right: -2em;
        width: 4em;
}
.timeline-button {
        position: absolute;
        cursor: pointer;
        width: 1em;
        transition: color 0.1s ease;
}
.timeline-button:hover {
        color: #60b1cf;
}
.timeline-back {
        left: 0;
}
.timeline-forward {
        right: 0;
}
.unselectable {
        user-select: none;
}
div .google-visualization-tooltip {
        font-family: serif;
        color: #ffac1f;
        border: none;
        border: 1px solid #ffac1f;
        box-shadow: none;
        z-index: 2;
        background-color: #fff;
        padding: 0.4em;
        max-width: 400px;
        line-height: 1.4em;
}
@media all and (min-width: 500px) {
        .timeline-buttons {
                bottom: 0.6em;
        }
}
/****** movement ******/
.movement-image {
        background-image: url('../../img/clouds.jpg');
}
.perlife {
        display: flex;
        flex-flow: row wrap;
}
.perlife-text {
        width: 50%;
        flex: 1 1 auto;
}
.perlife-text p {
        margin-top: 0;
}
.perlife-cost {
        text-align: center;
        width: 5.5em;
        font-size: 1.5em;
        color: #ffac1f;
        border-radius: 5px;
        padding: 0 0.5em;
        margin: auto;
        flex: 0 0 auto;
}
.cost {
        font-size: 1.5em;
}
/****** ideas ******/
.ideas-image {
        background-image: url('../../img/mind-the-gap.jpg');
}
.graphic-blindness {
        justify-content: space-between;
}
.icon-single {
        width: 10%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        position: relative;
        left: -10%;
}
.icon-many {
        max-width: 100%;
        flex: 0 1 auto;
        position: relative;
        right: -100%;
}
/****** criticism ******/
.criticism-image {
        background-image: url('../../img/autumn.jpg');
}
/****** more ******/
.more-image {
        background-image: url('../../img/rocks.jpg');
}
.more {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
}
.twitter, .links {
        width: 100%
}
.more h2 {
        width: 100%;
}
.more h3 {
        padding: 0;
        margin: 0;
}
.more ul {
        padding: 0;
        list-style-type: none;
}
.more li {
}
.more li:before {
        content: ">";
        padding-right: 10px;
}
.top-button {
        display: block;
        font-size: 130px;
        line-height: 10px;
        position: fixed;
        right: 0;
        bottom: -30px;;
        color: #00342a;
        padding: 6px;
        text-align: center;
        opacity: 0;
        transition: opacity 1s ease;
}
.top-button.reveal {
        cursor: pointer;
}
@media all and (min-width: 800px) {
        .twitter, .links {
                width: 40%
        }
}
/****** footer ******/
footer {
        background-color: #649f94;
        font-family: serif;
        color: #f7f7f7;
}
.sources {
        width: 80%;
        margin: auto;
        padding: 0.1em 0 1em 0;
}
.sources h4 {
        margin-bottom: 0;
        margin-left: 1em;
        width: 6em;
        transform-origin: bottom left;
        transform: rotate(-5deg) translate(-30%);
}
.sources a {
        color: #f7f7f7;
}
.source-list {
        font-family: serif;
        font-size: 10px;
        list-style-type: none;
        margin: 10px;
        padding: 0;
        columns: 3 200px;

}
.source-list li {
        line-height: 1.6em;
        transition: 0.5s ease;
}
.source-list .flash {
        background-color: #f9c19c;
}
.sources a:hover {
        color: #b0e5dc;
}
.reveal {
        transition: opacity 1s, right 1s, left 1s ease;
        opacity: 1;
}
.reveal-left {
        left: 0;
}
.reveal-right {
        right: 0;
}
