/****** general ******/
*,
*:after,
*:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
/* trying out */
/* Parallax bits */
body, html, main {
        height: 100%; /* Enables fitting to viewport height */
}
.parallax {
        height: 100%;
        background-attachment: scroll; /* No parallax on mobile */
        background-position: center;
        background-size: cover;
}
/**/
section {
        min-height: 100%;
        width: 90%;
        margin: auto;
}
.text {
        width: 80%;
        margin: auto;
}
.ref {
        font-family: serif;
        font-size: 0.5em;
        display: block;
        position: relative;
        text-align: right;
}

body {
        font-size: 1.8em;
        color: #649f94;
        font-family: 'Indie Flower', cursive;
}
h1, h2, h3, h4, h5, h6 {
        font-family: 'Rock Salt', cursive;
        color: #00342a;
}
blockquote {
        color: #f9c19c;
        font-style: italic;
}
a {
        color: #245db1;
}
.key-term {
        font-size: 1.1em;
        color: #ffac1f;
        display: inline;
}
.term-info {
        display: block;
        margin: auto;
        background-color: #fff;
        border: 2px solid #ffac1f;
        padding: 5px;
        max-width: 50%;
        font-family: serif;
        font-size: 0.5em;
        color: #ffac1f;
}

@media all and (min-width: 800px) {
        .parallax {
                background-attachment: fixed;
        }
        .key-term {
                display: inline-block;
                position: relative;
        }
        .term-info {
                display: none;
                margin: auto;
                max-width: 30%;
                float: right;
        }
        .key-term:hover ~ .term-info {
                display: block;
        }
}


/****** navigation ******/
header {
        width: 100%;
        position: fixed;
}
.navbar {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        padding: 0;
        margin: 0;
        list-style-type: none;
        overflow: hidden;
        transition: width 0.8s;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        margin-right: 10%;
}
.hidden {
        width: 0;
}
.navbar a {
        text-decoration: none;
        color: #415b59;
        display: inline-block;
        padding: 0.5em;
        margin: 5px;
        background-color: #fff;
        font-family: serif;
        font-size: 0.5em;
}
.navbar a:hover {
        background-color: #faeda2
}
/* Burger menu bits */
.burger {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 0;
        padding: 6px;
        height: 1.5em;
        z-index: 1;
}
.bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        border-radius: 2px;
        margin: 6px auto;
        transition: 0.4s;
}
.close-icon .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
}
.close-icon .bar2 {
        opacity: 0;
}
.close-icon .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
}
/**/

@media all and (min-width: 500px) {
}
@media all and (min-width: 800px) {
        nav {
                width: 80%;
                margin: auto;
        }
        .navbar {
                flex-flow: row nowrap;
                justify-content: flex-end;
        }
        .navbar li {
                flex: 0 1 auto;
                margin: 0;
        }

}

/****** title ******/
.title {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        background-image: url('img/barley-24.jpg');
}
.title h1 {
        margin: auto;
        width: 80%;
}


/****** growth ******/
.growth-image {
        background-image: url('img/mind-the-gap-24.jpg');
}
/****** movement ******/
.movement-image {
        background-image: url('img/dandelion-24.jpg');
}
/****** ideas ******/
.map-container {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: -1;
}
#regions_div {
        width: 100%;
        position: absolute;
        bottom: 0;
}
/****** controversy ******/
.otters-image {
        background-image: url('img/otters-24.jpg');
}
.glow {
        color: #bb9d91;
        text-shadow: 0 0 30px #ffbf00, 0 0 20px #ffbf00, 0 0 10px #ffbf00;
}
/****** more ******/
/****** footer ******/
